 <br><br><br>

<div class="container">

<h1>Editing Responsabilidade</h1>

<%= render 'form', responsabilidade: @responsabilidade %>

<%= link_to 'Show', @responsabilidade, class: "btn btn-info btn-s pull-right" %> 
<%= link_to 'Back', responsabilidades_path, class: "btn btn-success btn-s pull-right" %>

</div>