<br><br>

<div class="container mt-4 mb-5">

<h1 class="display-8">New Responsabilidade</h1>

<%= render 'form', responsabilidade: @responsabilidade %>

<%= link_to "Relatórios", relatorio_path, class: "nav-link text-white" %>

</div>