<div class="container container mt-4 mb-5">

<div class="row">



</div>

	<%= render 'form', dependente: @dependente %>

	<div class="row">
		<%= link_to 'Back', dependentes_path, class: "btn btn-success btn-xs pull-right" %>	
	</div>
	

</div>