<br><br><br>

<div class="container">

<h1 class="display-8">Editing Cargo</h1>

<%= render 'form', cargo: @cargo %>

<%= link_to 'Show', @cargo, class: "btn btn-info btn-s pull-right" %> 
<%= link_to 'Back', cargos_path, class: "btn btn-success btn-s pull-right" %>

</div>