<br><br>

<div class="container mt-4 mb-5">

<h1 class="display-8">New Cargo</h1>

<%= render 'form', cargo: @cargo %>

<%= link_to 'Back', cargos_path, class: "btn btn-success btn-s pull-right" %>

</div>