<br><br><br>

<div class="container container mt-4 mb-5">

<div class="row">

<h1 class="display-8">New Funcionario</h1>

</div>

<%= render 'form', funcionario: @funcionario %>

<%= link_to 'Back', funcionarios_path, class: "btn btn-assertive btn-xs pull-right" %>


</div>